.nav a{
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    color: white;
}

.nav {
    background-color: green;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

body {
    background-color:#3293d4;
    margin: 0;
    font: 100% /normal sans-serif;
    
}

   
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

form {
    box-sizing: content-box;
    padding: 2rem;
    background-color: hsl(0, 0%, 100%);
   
    display: grid;
    grid-template-columns: 1fr ;
    gap: 2rem;
    margin-left: 25%;
    margin-right:25%;
    width: 50%;
  }

  .full-with {
   
    grid-template-columns: 2fr 2fr;
   
  }

  .large-label {
    display: inline-block;
    vertical-align: middle;
    font: 1.5rem sans-serif;
    margin-left: 0.25rem;
    margin-right: 1.5;
  }

  .small-label {
    display: inline-block;
    font: bold 1.5rem sans-serif;
    margin-bottom: 0.5rem;
  }
  button {
    font: 1.25rem sans-serif;
    border: radius 0.25rem;
    cursor: pointer;
    padding: 0.75rem 1.25rem;
  }

  input[type=text],input[type=email], select  {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
 
  .form{
    text-align: left;
    background: rgb(59, 164, 255);
    box-sizing: border-box;
    padding: 2rem;

    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;

    margin-left: 25%;
    margin-right:25%;
    width: 50%;
}
.button-container {
    display: flex;
    justify-content: space-between; 
  }

  .button-container button {
    background-color: red;
    color: white;
    font-size: 16px;
    padding: 16px;
    border-radius: 10px;

  }
  select {
    background: url("downarrow.svg") no-repeat center right 0.75rem;
  }
  